:root {
  /* color */
  --primary-blue: #0D28A6;
  --btn-prim-color :  #5CB85F;
  --hero-bg: #F1F3FF;
}

body {
  font-family: Helvetica;
  max-width: 1440px;
  margin: auto;
}


ul {
  list-style-type: none;
  padding: 0px;  
}

h2 {
  font-weight: 700;
}

p {
  font-size: 14px;
}

/* Navbar */

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  background-color: var(--primary-blue); 
  width: 100px; 
  height: 34px;
}

/* Hero */
#hero {
  /* height: 500px; */
  background-color: var(--hero-bg);
  margin-bottom: 100px;
 
}

.text-hero {
  padding-left: 60px;
}

.text-hero h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  
}

.text-hero p {
  width: 70%;
  margin-bottom: 16px;
}

.container-image-hero {
  padding: 0px;
}


/* Services */
#services {
  max-width: 1027px;
  margin: 0px auto 100px auto;
}

#services h2 {
  margin-bottom: 24px;
}

#services li {
  margin-bottom: 16px;
  font-size: 14px;
}

.container-services {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  padding: 0;
}

.container-image-services {
  padding: 0;
}

.container-text-services {
  max-width: 468px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
} 


.icon-checklist {
  margin-right: 16px;
}

/* Why Us */

#why-us {
  margin-bottom: 100px;
}

#why-us h2 {
  margin-bottom: 16px;
}

#why-us  p {
  margin-bottom: 0px;
}

.container-why-us {
  padding: 0px;
}

.card-container {
  margin-top: 40px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr))
}

.card-item {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.card-item h6 {
  padding: 0px;
  margin: 0px;
}

.card-item p {
  max-width: 220px;
}


/* Testimonial */

#testimonial {
  margin-bottom: 156px;
  max-width: 832px;

}

.container-testimonial {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.container-testimonial h2 {
  margin-bottom: 16px;
}

.container-testimonial > p {
  margin-bottom: 40px;
}

.content-carousel {
  background: var(--hero-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 8px;
  padding: 70px 0px;
}

.img-photo {
  max-width: 70px;
  height: 80px;
}

.icon-rate {
  max-width: 80px;
  height: 16px;
}

.testimonial-comment {
  max-width: 415px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.button-arrow {
  bottom: 0;
}

.ic-arrow {
  width: 56px;
  height: 68px;
}



/* Getting Started Section */

#getting-started {
  margin-bottom: 100px;
  height: 326px;
}

.getting-started-content {
  background: var(--primary-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: white;
  border-radius: 13px;
}

.getting-started-content p {
  max-width: 468px;
  text-align: center;
  font-weight: 400;
}


/* FAQ Section */

#frequently-asked-question {
  height: 344px;
  margin-bottom: 150px;
}

#frequently-asked-question h2 {
  margin-bottom: 16px;
}

#frequently-asked-question button  {
  font-size: 14px;
}

.group-item-accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


/* Footer */
#footer {
  margin-bottom: 100px;
  
}

.group-footer {
  background-color: #F1F3FF;
  display: flex;
  justify-content: space-between;
}

.list-section {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 16px;
}






/* responsive 425px */

@media (max-width:425px) {
  
  /* hero section */
  #hero {
    margin-bottom: 60px;
  }

  .text-hero {
    padding: 24px 16px;
  }

  .container-image-hero {
    padding-left: 16px;
  }
  
  /* services */

  #services  {
   margin-bottom: 60px;
   padding: 0px 16px;
  }

  .container-services {
    flex-direction: column;
    gap: 24px;
  }

  .container-image-services {
    padding: 0px 54px ;
  }
  
  /* why us section*/

  #why-us {
    margin-bottom: 60px;
  }

  .container-why-us {
    padding: 0px 16px;
    
  }

  .container-why-us h2, .container-why-us > p {
    text-align: center;
  }

  .card-container {
    margin-top: 24px;
  } 

  /* Testimonial Section */
  #testimonial {
    margin-bottom: 88px;
  }

  .container-testimonial {
    padding: 16px;
  }

  .container-testimonial > p {
    margin-bottom: 16px;
  }

  .content-carousel {
    flex-direction: column;
    padding: 40px 32px;
  }

  .testimonial-comment {
    align-items: center;
  }

  .button-arrow {
    bottom: 240px;
  }

  .ic-arrow {
    width: 23px;
    height: 48px;
  }


}